# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=wtf_happend_bot

# LLM APIs
OPENROUTER_API_KEY=
DEEPSEEK_API_KEY=

# Temporal
TEMPORAL_CLI_ADDRESS=temporal:7233

# Database
DB_HOST=db
DB_PORT=5432
DB_DATABASE=wtf_happend_bot
DB_USERNAME=postgres
DB_PASSWORD=
